.form-background
{
    background-color: rgba(0, 0, 0, 0.175);
    position: fixed;
    top: 0%;
    z-index: 10;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px); /* pierde el foco la pantalla del fondo cuando se abre la modal */
    transform: scale(0);
}
.form-background.able
{
    transform: scale(1);
    transition: transform .25s;
}
.form-container
{
    background-color: rgb(255, 255, 255);
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    min-height: 70vh;
    width:  90%;
}
.form-close
{
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    font-size: 25px;
}
.form-close:hover
{
    color: black;
}
.form-title
{
    text-align: center;
}
input
{
    background-color: rgb(233, 233, 233);
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
} 
.form-item
{
    width: 80%;
    margin-top: 10px;
}
.form-label
{
    font-weight: bold;
    
}
.form-btn
{
    background-color: #555A88;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 10px;
    cursor: pointer;
    transition: all .3s ease;
    margin: 15px 0 25px;
    width: 80%;
}

@media (min-width: 768px) and (max-width: 1023px) {

    .form-container
    {
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: relative;
        min-height: 70vh;
        width: 50%;
    }
 }
 @media (min-width: 1024px) {

    .form-container
    {
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: absolute;
        min-height: 70vh;
        width: 30%;
    }
 }


